In [6]:
import pandas as pd
import numpy as np

In [7]:
data = pd.read_csv(r'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', header=None)
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [8]:
# Добавляю названия колонок для удобства обращения к ним
data.columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', \
                'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'salary']
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

1. Сколько мужчин и женщин (признак sex) представлено в этом наборе данных?

In [10]:
data['sex'].value_counts()

 Male      21790
 Female    10771
Name: sex, dtype: int64

2. Каков средний возраст (признак age) женщин?

In [11]:
data[data['sex'].str.contains('Female')]['age'].mean()

36.85823043357163

3. Какова доля граждан Германии (признак native-country)?

In [12]:
var_1 = data['native-country'].str.contains('Germany').value_counts(normalize=True)
#либо
var_2 = data['native-country'].str.contains('Germany').mean()
print(var_1, var_2 * 100, sep = '\n\n')

False    0.995793
True     0.004207
Name: native-country, dtype: float64

0.42074874850281013

4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак salary) и тех, кто получает менее 50K в год?

In [13]:
data[data['salary'].str.contains('>50')]['age'].describe()
# можно по отдельности
#data[data['salary'].str.contains('>50')]['age'].std()
#data[data['salary'].str.contains('>50')]['age'].mean()

count    7841.000000
mean       44.249841
std        10.519028
min        19.000000
25%        36.000000
50%        44.000000
75%        51.000000
max        90.000000
Name: age, dtype: float64

In [14]:
data[data['salary'].str.contains('<=50')]['age'].describe()

count    24720.000000
mean        36.783738
std         14.020088
min         17.000000
25%         25.000000
50%         34.000000
75%         46.000000
max         90.000000
Name: age, dtype: float64

6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters или Doctorate)

In [15]:
mass = data[data['salary'].str.contains('>50')]['education'].unique()
educ_mass = [ 'Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']

if len (mass) > len(educ_mass):
    print(False)
else: 
    print(True)
# можно для визуального сравнения и так 
#data.groupby(['salary'])['education'].value_counts() или data.groupby(['education'])['salary'].value_counts()

False

7. Выведите статистику возраста для каждой расы (признак race) и каждого пола. Используйте groupby и describe. Найдите таким образом максимальный возраст мужчин расы Amer-Indian-Eskimo.

In [16]:
data.pivot_table(['age'], ['race', 'sex'], aggfunc='describe').head(10)

                              age                                         \
                              25%   50%    75%    count   max       mean
race                sex
 Amer-Indian-Eskimo  Female  27.0  36.0  46.00    119.0  80.0  37.117647
                     Male    28.0  35.0  45.00    192.0  82.0  37.208333
 Asian-Pac-Islander  Female  25.0  33.0  43.75    346.0  75.0  35.089595
                     Male    29.0  37.0  46.00    693.0  90.0  39.073593
 Black               Female  28.0  37.0  46.00   1555.0  90.0  37.854019
                     Male    27.0  36.0  46.00   1569.0  90.0  37.682600
 Other               Female  23.0  29.0  39.00    109.0  74.0  31.678899
                     Male    26.0  32.0  42.00    162.0  77.0  34.654321
 White               Female  25.0  35.0  46.00   8642.0  90.0  36.811618
                     Male    29.0  38.0  49.00  19174.0  90.0  39.652498


                              min        std
race                sex
 Amer-Indian-Eskimo  Female  17.0  13.114991
                     Male    17.0  12.049563
 Asian-Pac-Islander  Female  17.0  12.300845
                     Male    18.0  12.883944
 Black               Female  17.0  12.637197
                     Male    17.0  12.882612
 Other               Female  17.0  11.631599
                     Male    17.0  11.355531
 White               Female  17.0  14.329093
                     Male    17.0  13.436029

In [17]:
data[(data['sex'].str.contains('Male') & data['race'].str.contains('Amer-Indian-Eskimo'))]['age'].max()
# для каждой расы можно так: data[data['sex'].str.contains('Male')].groupby(['race'])['age'].max()

82

8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак marital-status)? Женатыми считаем тех, у кого marital-status начинается с Married (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.

In [18]:
# для общей картины можно так: data[data['sex'].str.contains('Male')].groupby(['salary'])['marital-status'].value_counts(normalize=True)
data[data['salary'].str.contains('>50K') & data['sex'].str.contains('Male')]['marital-status'].value_counts(normalize=True)

 Married-civ-spouse       0.891324
 Never-married            0.048784
 Divorced                 0.042630
 Separated                0.007355
 Widowed                  0.005854
 Married-spouse-absent    0.003452
 Married-AF-spouse        0.000600
Name: marital-status, dtype: float64

9. Какое максимальное число часов человек работает в неделю (признак hours-per-week)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?

In [19]:
data['hours-per-week'].max()

99

In [20]:
len(data[data['hours-per-week'] == 99].index)

85

In [21]:
data[(data['hours-per-week'] == 99) & data['salary'].str.contains('>50')].value_counts().sum()

25

In [22]:
(len(data[data['hours-per-week'] == 99 & data['salary'].str.contains('>50')].index) / len(data[data['hours-per-week'] == 99].index)) * 100

2.3529411764705883

10. Посчитайте среднее время работы (hours-per-week) зарабатывающих мало и много (salary) для каждой страны (native-country).

In [23]:
#pd.crosstab(data['native-country'], data['salary'])
#data.groupby(['native-country'])['salary'].value_counts()

In [25]:
pd.set_option('display.max_rows', 100)
data.pivot_table(['hours-per-week'], ['native-country', 'salary'], aggfunc='mean').head(20)

                            hours-per-week
native-country      salary
 ?                   <=50K       40.164760
                     >50K        45.547945
 Cambodia            <=50K       41.416667
                     >50K        40.000000
 Canada              <=50K       37.914634
                     >50K        45.641026
 China               <=50K       37.381818
                     >50K        38.900000
 Columbia            <=50K       38.684211
                     >50K        50.000000
 Cuba                <=50K       37.985714
                     >50K        42.440000
 Dominican-Republic  <=50K       42.338235
                     >50K        47.000000
 Ecuador             <=50K       38.041667
                     >50K        48.750000
 El-Salvador         <=50K       36.030928
                     >50K        45.000000
 England             <=50K       40.483333
                     >50K        44.533333